# Ignore venvs and system files
venv/
Sada/
bin/
lib/
lib64/
include/
share/
etc/
pyvenv.cfg
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Ignore notebooks temp
.ipynb_checkpoints/

# Ignore local data dumps
data/raw/
data/tmp/
*.csv
*.db
*.sqlite

# Ignore OS files
.DS_Store
Thumbs.db

